<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key ="UA" value ="Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:76.0) Gecko/20100101 Firefox/76.0"/>
		<add key ="Host" value ="http://127.0.0.1:8001/api/"/>
		<add key ="FiddlerPort" value ="7777"/>
	</appSettings>
</configuration>